h1 {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 140%;
}

#page {
    background-color: rgb(240, 248, 255);
    padding: 5px;
}

header {
    padding: 5px;
    text-align: center;
    background-color: rgb(216, 236, 255);
}

#subtitle {
    font-style: italic;
    text-transform: lowercase;
}

nav {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
}

#navList {
    list-style: none;
    padding: 0px;
}

li {
    display: inline;
    padding: 5px;
}

footer {
    padding: 5px;
    text-align: center;
    background-color: rgb(216, 236, 255);
}


/* iMac/Desktop NOTE: 2560px is the biggest computer's width viewport. Apple iMac 27-inch */
@media all and (max-width: 2240px) and (min-width: 1025px) {
    
}

/* iPad NOTE: 1024px is the largest iPad's width viewport. iPad Pro 10th Generation */
@media all and (max-width: 1024px) and (min-width: 501) {

}

/* iPhone NOTE: 960px is the biggest width viewport of an iPhone. iPhone 14 Pro Max */
@media all and (max-width: 500px) and (min-width: 200px) {
    
}